## MLlib usando Titanic dataset ##

In [1]:
from pyspark.sql import SparkSession
from pyspark .sql.types import StructType
spark = SparkSession.builder.appName("titanic").getOrCreate()

In [2]:

df = spark.read.csv("train.csv", header=True).cache()

In [3]:
df.show(10)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|    1|    0|          237736|30.0708| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 10 rows

In [4]:
df.toPandas()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.25,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.925,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.05,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27,0,0,211536,13,None,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19,0,0,112053,30,B42,S
888,889,0,3,"""Johnston, Miss. Catherine Helen """"Carrie""""""",female,None,1,2,W./C. 6607,23.45,None,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26,0,0,111369,30,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32,0,0,370376,7.75,None,Q

In [5]:
df.count()

891

In [6]:

df.columns

['PassengerId',
 'Survived',
 'Pclass',
 'Name',
 'Sex',
 'Age',
 'SibSp',
 'Parch',
 'Ticket',
 'Fare',
 'Cabin',
 'Embarked']

In [7]:

df.dtypes

[('PassengerId', 'string'),
 ('Survived', 'string'),
 ('Pclass', 'string'),
 ('Name', 'string'),
 ('Sex', 'string'),
 ('Age', 'string'),
 ('SibSp', 'string'),
 ('Parch', 'string'),
 ('Ticket', 'string'),
 ('Fare', 'string'),
 ('Cabin', 'string'),
 ('Embarked', 'string')]

In [8]:
df.describe().toPandas()

,summary,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,count,891,891,891,891,891,714,891,891,891,891,204,889
1,mean,446.0,0.3838383838383838,2.308641975308642,None,None,29.69911764705882,0.5230078563411896,0.38159371492704824,260318.54916792738,32.2042079685746,None,None
2,stddev,257.3538420152301,0.48659245426485753,0.8360712409770491,None,None,14.526497332334035,1.1027434322934315,0.8060572211299488,471609.26868834975,49.69342859718089,None,None
3,min,1,0,1,"""Andersson, Mr. August Edvard (""""Wennerstrom"""")""",female,0.42,0,0,110152,0,A10,C
4,max,99,1,3,"van Melkebeke, Mr. Philemon",male,9,8,6,WE/P 5735,93.5,T,S

In [9]:

# Realizamos la transformación de las columnas de string a numeros:
from pyspark.sql.functions import col
dataset = df.select(col("Survived").cast("float"),
 col("Pclass").cast("float"),
 col("Sex"),
 col("Age").cast("float"),
 col("Fare").cast("float"),
 col("Embarked"))
dataset.show()

+--------+------+------+----+-------+--------+
|Survived|Pclass|   Sex| Age|   Fare|Embarked|
+--------+------+------+----+-------+--------+
|     0.0|   3.0|  male|22.0|   7.25|       S|
|     1.0|   1.0|female|38.0|71.2833|       C|
|     1.0|   3.0|female|26.0|  7.925|       S|
|     1.0|   1.0|female|35.0|   53.1|       S|
|     0.0|   3.0|  male|35.0|   8.05|       S|
|     0.0|   3.0|  male|null| 8.4583|       Q|
|     0.0|   1.0|  male|54.0|51.8625|       S|
|     0.0|   3.0|  male| 2.0| 21.075|       S|
|     1.0|   3.0|female|27.0|11.1333|       S|
|     1.0|   2.0|female|14.0|30.0708|       C|
|     1.0|   3.0|female| 4.0|   16.7|       S|
|     1.0|   1.0|female|58.0|  26.55|       S|
|     0.0|   3.0|  male|20.0|   8.05|       S|
|     0.0|   3.0|  male|39.0| 31.275|       S|
|     0.0|   3.0|female|14.0| 7.8542|       S|
|     1.0|   2.0|female|55.0|   16.0|       S|
|     0.0|   3.0|  male| 2.0| 29.125|       Q|
|     1.0|   2.0|  male|null|   13.0|       S|
|     0.0|   3.0|female|31.0|   18.0|       S|
|     1.0|   3.0|female|null|  7.225|       C|
+--------+------+------+----+-------+--------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import isnull, when, count

In [11]:

dataset = dataset.replace("?", None).dropna(how="any")

In [12]:
# Modificación de las columnas en formato string a número.
from pyspark.ml.feature import StringIndexer
dataset = StringIndexer(inputCol="Sex",
 outputCol="Gender",
 handleInvalid="keep")\
 .fit(dataset).transform(dataset)
dataset = StringIndexer(inputCol="Embarked",
 outputCol="Boarded",
 handleInvalid="keep") \
 .fit(dataset).transform(dataset)
dataset.show()

+--------+------+------+----+-------+--------+------+-------+
|Survived|Pclass|   Sex| Age|   Fare|Embarked|Gender|Boarded|
+--------+------+------+----+-------+--------+------+-------+
|     0.0|   3.0|  male|22.0|   7.25|       S|   0.0|    0.0|
|     1.0|   1.0|female|38.0|71.2833|       C|   1.0|    1.0|
|     1.0|   3.0|female|26.0|  7.925|       S|   1.0|    0.0|
|     1.0|   1.0|female|35.0|   53.1|       S|   1.0|    0.0|
|     0.0|   3.0|  male|35.0|   8.05|       S|   0.0|    0.0|
|     0.0|   1.0|  male|54.0|51.8625|       S|   0.0|    0.0|
|     0.0|   3.0|  male| 2.0| 21.075|       S|   0.0|    0.0|
|     1.0|   3.0|female|27.0|11.1333|       S|   1.0|    0.0|
|     1.0|   2.0|female|14.0|30.0708|       C|   1.0|    1.0|
|     1.0|   3.0|female| 4.0|   16.7|       S|   1.0|    0.0|
|     1.0|   1.0|female|58.0|  26.55|       S|   1.0|    0.0|
|     0.0|   3.0|  male|20.0|   8.05|       S|   0.0|    0.0|
|     0.0|   3.0|  male|39.0| 31.275|       S|   0.0|    0.0|
|     0.0|   3.0|female|14.0| 7.8542|       S|   1.0|    0.0|
|     1.0|   2.0|female|55.0|   16.0|       S|   1.0|    0.0|
|     0.0|   3.0|  male| 2.0| 29.125|       Q|   0.0|    2.0|
|     0.0|   3.0|female|31.0|   18.0|       S|   1.0|    0.0|
|     0.0|   2.0|  male|35.0|   26.0|       S|   0.0|    0.0|
|     1.0|   2.0|  male|34.0|   13.0|       S|   0.0|    0.0|
|     1.0|   3.0|female|15.0| 8.0292|       Q|   1.0|    2.0|
+--------+------+------+----+-------+--------+------+-------+
only showing top 20 rows

Observamos que nos ha creado dos nuevas columnas con los valores de:
    
    Hombre: 0
    Mujer: 1
    S: 0
    C: 1
    Q: 2

In [13]:
dataset.dtypes

[('Survived', 'float'),
 ('Pclass', 'float'),
 ('Sex', 'string'),
 ('Age', 'float'),
 ('Fare', 'float'),
 ('Embarked', 'string'),
 ('Gender', 'double'),
 ('Boarded', 'double')]

In [14]:
dataset = dataset.drop("Sex")
dataset = dataset.drop("Embarked")
dataset.show()

+--------+------+----+-------+------+-------+
|Survived|Pclass| Age|   Fare|Gender|Boarded|
+--------+------+----+-------+------+-------+
|     0.0|   3.0|22.0|   7.25|   0.0|    0.0|
|     1.0|   1.0|38.0|71.2833|   1.0|    1.0|
|     1.0|   3.0|26.0|  7.925|   1.0|    0.0|
|     1.0|   1.0|35.0|   53.1|   1.0|    0.0|
|     0.0|   3.0|35.0|   8.05|   0.0|    0.0|
|     0.0|   1.0|54.0|51.8625|   0.0|    0.0|
|     0.0|   3.0| 2.0| 21.075|   0.0|    0.0|
|     1.0|   3.0|27.0|11.1333|   1.0|    0.0|
|     1.0|   2.0|14.0|30.0708|   1.0|    1.0|
|     1.0|   3.0| 4.0|   16.7|   1.0|    0.0|
|     1.0|   1.0|58.0|  26.55|   1.0|    0.0|
|     0.0|   3.0|20.0|   8.05|   0.0|    0.0|
|     0.0|   3.0|39.0| 31.275|   0.0|    0.0|
|     0.0|   3.0|14.0| 7.8542|   1.0|    0.0|
|     1.0|   2.0|55.0|   16.0|   1.0|    0.0|
|     0.0|   3.0| 2.0| 29.125|   0.0|    2.0|
|     0.0|   3.0|31.0|   18.0|   1.0|    0.0|
|     0.0|   2.0|35.0|   26.0|   0.0|    0.0|
|     1.0|   2.0|34.0|   13.0|   0.0|    0.0|
|     1.0|   3.0|15.0| 8.0292|   1.0|    2.0|
+--------+------+----+-------+------+-------+
only showing top 20 rows

## Realizamos un vetor con la información correspondiente a la X: ##

In [15]:
required_features = ['Pclass', 'Age',
 'Fare', 'Gender',
 'Boarded']

In [16]:
from pyspark.ml.feature import VectorAssembler

assembler = VectorAssembler(inputCols=required_features,
 outputCol="feature")
transformed_data = assembler.transform(dataset)

In [18]:
transformed_data.show(5)

+--------+------+----+-------+------+-------+--------------------+
|Survived|Pclass| Age|   Fare|Gender|Boarded|             feature|
+--------+------+----+-------+------+-------+--------------------+
|     0.0|   3.0|22.0|   7.25|   0.0|    0.0|[3.0,22.0,7.25,0....|
|     1.0|   1.0|38.0|71.2833|   1.0|    1.0|[1.0,38.0,71.2833...|
|     1.0|   3.0|26.0|  7.925|   1.0|    0.0|[3.0,26.0,7.92500...|
|     1.0|   1.0|35.0|   53.1|   1.0|    0.0|[1.0,35.0,53.0999...|
|     0.0|   3.0|35.0|   8.05|   0.0|    0.0|[3.0,35.0,8.05000...|
+--------+------+----+-------+------+-------+--------------------+
only showing top 5 rows

## Realizamos los modelos... ##

**Algoritmo de Decission Tree Classifier**

In [19]:
# Crearemos los dataset de entrenamiento y test:
training_data, test_data = transformed_data.randomSplit([0.8, 0.2])

In [20]:
from pyspark.ml.classification import DecisionTreeClassifier
dt = DecisionTreeClassifier(labelCol="Survived",
 featuresCol="feature",
 maxDepth=5)

In [21]:
model = dt.fit(training_data)

In [22]:
predictions = model.transform(test_data)

In [31]:
predictions.show(100)

+--------+------+----+--------+------+-------+--------------------+--------------------+--------------------+----------+
|Survived|Pclass| Age|    Fare|Gender|Boarded|             feature|       rawPrediction|         probability|prediction|
+--------+------+----+--------+------+-------+--------------------+--------------------+--------------------+----------+
|     0.0|   1.0|24.0|    79.2|   0.0|    1.0|[1.0,24.0,79.1999...|[-0.2759534510703...|[0.36542210638537...|       1.0|
|     0.0|   1.0|28.0|    47.1|   0.0|    0.0|[1.0,28.0,47.0999...|[0.07917553735956...|[0.53950525343208...|       0.0|
|     0.0|   1.0|28.0| 82.1708|   0.0|    1.0|[1.0,28.0,82.1707...|[-0.3760004311312...|[0.32038547934698...|       1.0|
|     0.0|   1.0|29.0|    30.0|   0.0|    0.0|[1.0,29.0,30.0,0....|[0.07917553735956...|[0.53950525343208...|       0.0|
|     0.0|   1.0|31.0| 50.4958|   0.0|    0.0|[1.0,31.0,50.4958...|[0.07917553735956...|[0.53950525343208...|       0.0|
|     0.0|   1.0|38.0|     0.0|   0.0|    0.0|(5,[0,1],[1.0,38.0])|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   1.0|40.0|     0.0|   0.0|    0.0|(5,[0,1],[1.0,40.0])|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   1.0|40.0| 27.7208|   0.0|    1.0|[1.0,40.0,27.7208...|[0.07154349513386...|[0.53571084003946...|       0.0|
|     0.0|   1.0|46.0|    79.2|   0.0|    1.0|[1.0,46.0,79.1999...|[-0.3484857681144...|[0.33248401889988...|       1.0|
|     0.0|   1.0|50.0| 28.7125|   1.0|    1.0|[1.0,50.0,28.7124...|[-1.1562162311111...|[0.09009853060873...|       1.0|
|     0.0|   1.0|51.0| 61.3792|   0.0|    1.0|[1.0,51.0,61.3791...|[-0.3484857681144...|[0.33248401889988...|       1.0|
|     0.0|   1.0|56.0| 30.6958|   0.0|    1.0|[1.0,56.0,30.6958...|[0.73821016180053...|[0.81403128277731...|       0.0|
|     0.0|   1.0|61.0|    33.5|   0.0|    0.0|[1.0,61.0,33.5,0....|[0.74584220402623...|[0.81633095841715...|       0.0|
|     0.0|   1.0|71.0| 49.5042|   0.0|    1.0|[1.0,71.0,49.5041...|[0.48975763678646...|[0.72701202543548...|       0.0|
|     0.0|   2.0|16.0|    26.0|   0.0|    0.0|[2.0,16.0,26.0,0....|[0.75418622905394...|[0.81881987996259...|       0.0|
|     0.0|   2.0|18.0|    11.5|   0.0|    0.0|[2.0,18.0,11.5,0....|[0.94142272479666...|[0.86793761892142...|       0.0|
|     0.0|   2.0|19.0|    13.0|   0.0|    0.0|[2.0,19.0,13.0,0....|[0.94142272479666...|[0.86793761892142...|       0.0|
|     0.0|   2.0|24.0|    10.5|   0.0|    0.0|[2.0,24.0,10.5,0....|[0.90226680564108...|[0.85869991303897...|       0.0|
|     0.0|   2.0|25.0|    13.0|   0.0|    0.0|[2.0,25.0,13.0,0....|[0.90226680564108...|[0.85869991303897...|       0.0|
|     0.0|   2.0|26.0|    26.0|   1.0|    0.0|[2.0,26.0,26.0,1....|[-0.9157845852905...|[0.13805144640217...|       1.0|
|     0.0|   2.0|27.0|    13.0|   0.0|    0.0|[2.0,27.0,13.0,0....|[0.86398566394184...|[0.84915274687641...|       0.0|
|     0.0|   2.0|28.0|    10.5|   0.0|    0.0|[2.0,28.0,10.5,0....|[0.86398566394184...|[0.84915274687641...|       0.0|
|     0.0|   2.0|28.0|    13.5|   0.0|    0.0|[2.0,28.0,13.5,0....|[0.86398566394184...|[0.84915274687641...|       0.0|
|     0.0|   2.0|31.0|    10.5|   0.0|    0.0|[2.0,31.0,10.5,0....|[0.32917553735956...|[0.65888988304591...|       0.0|
|     0.0|   2.0|33.0|  12.275|   0.0|    0.0|[2.0,33.0,12.2749...|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|34.0|    21.0|   0.0|    0.0|[2.0,34.0,21.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|34.0|    26.0|   0.0|    0.0|[2.0,34.0,26.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|36.0|    13.0|   0.0|    0.0|[2.0,36.0,13.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|36.5|    26.0|   0.0|    0.0|[2.0,36.5,26.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|38.0|    13.0|   1.0|    0.0|[2.0,38.0,13.0,1....|[-1.0992242140013...|[0.09988990734854...|       1.0|
|     0.0|   2.0|39.0|    13.0|   0.0|    0.0|[2.0,39.0,13.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|48.0|    13.0|   0.0|    0.0|[2.0,48.0,13.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|50.0|    13.0|   0.0|    0.0|[2.0,50.0,13.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|54.0|    26.0|   0.0|    0.0|[2.0,54.0,26.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|57.0|   12.35|   0.0|    2.0|[2.0,57.0,12.3500...|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   2.0|60.0|    39.0|   0.0|    0.0|[2.0,60.0,39.0,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   3.0| 2.0| 10.4625|   1.0|    0.0|[3.0,2.0,10.46249...|[-0.9343452717697...|[0.13369331027400...|       1.0|
|     0.0|   3.0| 2.0|  31.275|   1.0|    0.0|[3.0,2.0,31.27499...|[0.98006957588197...|[0.87654801105815...|       0.0|
|     0.0|   3.0| 7.0|  29.125|   0.0|    2.0|[3.0,7.0,29.125,0...|[1.13793579355952...|[0.90685892234750...|       0.0|
|     0.0|   3.0|14.0|  7.8542|   1.0|    0.0|[3.0,14.0,7.85419...|[-0.8183286215625...|[0.16292042542425...|       1.0|
|     0.0|   3.0|16.0|   7.775|   0.0|    0.0|[3.0,16.0,7.77500...|[0.64952198132171...|[0.78567403955239...|       0.0|
|     0.0|   3.0|16.0|  9.2167|   0.0|    0.0|[3.0,16.0,9.21669...|[0.82626596823051...|[0.83923295531283...|       0.0|
|     0.0|   3.0|16.0|    18.0|   0.0|    0.0|[3.0,16.0,18.0,0....|[0.92274592014179...|[0.86359692399507...|       0.0|
|     0.0|   3.0|16.0|   20.25|   0.0|    0.0|[3.0,16.0,20.25,0...|[0.92274592014179...|[0.86359692399507...|       0.0|
|     0.0|   3.0|17.0|  8.6625|   0.0|    0.0|[3.0,17.0,8.66250...|[0.94142272479666...|[0.86793761892142...|       0.0|
|     0.0|   3.0|19.0|     0.0|   0.0|    0.0|(5,[0,1],[3.0,19.0])|[0.90863020422492...|[0.86023707294756...|       0.0|
|     0.0|   3.0|20.0|  7.8542|   0.0|    0.0|[3.0,20.0,7.85419...|[0.90863020422492...|[0.86023707294756...|       0.0|
|     0.0|   3.0|20.0|    8.05|   0.0|    0.0|[3.0,20.0,8.05000...|[0.85835918536197...|[0.84770565870368...|       0.0|
|     0.0|   3.0|20.0|  8.6625|   1.0|    0.0|[3.0,20.0,8.66250...|[0.09883341045675...|[0.54925642992876...|       0.0|
|     0.0|   3.0|20.0|     9.5|   0.0|    0.0|[3.0,20.0,9.5,0.0...|[0.94142272479666...|[0.86793761892142...|       0.0|
|     0.0|   3.0|21.0|     7.8|   0.0|    0.0|[3.0,21.0,7.80000...|[0.90863020422492...|[0.86023707294756...|       0.0|
|     0.0|   3.0|21.0|  34.375|   1.0|    0.0|[3.0,21.0,34.375,...|[0.71704216761619...|[0.80753690491547...|       0.0|
|     0.0|   3.0|22.0|   7.125|   0.0|    0.0|[3.0,22.0,7.125,0...|[0.90863020422492...|[0.86023707294756...|       0.0|
|     0.0|   3.0|22.0|  7.7958|   0.0|    0.0|[3.0,22.0,7.79580...|[0.90863020422492...|[0.86023707294756...|       0.0|
|     0.0|   3.0|22.0|  7.8958|   0.0|    0.0|[3.0,22.0,7.89580...|[0.90863020422492...|[0.86023707294756...|       0.0|
|     0.0|   3.0|22.0|    8.05|   0.0|    0.0|[3.0,22.0,8.05000...|[0.85835918536197...|[0.84770565870368...|       0.0|
|     0.0|   3.0|22.0| 10.5167|   1.0|    0.0|[3.0,22.0,10.5166...|[-0.5356592081501...|[0.25515243871265...|       1.0|
|     0.0|   3.0|23.0|   7.925|   1.0|    0.0|[3.0,23.0,7.92500...|[0.05327221122993...|[0.52661093706420...|       0.0|
|     0.0|   3.0|25.0|   7.225|   0.0|    1.0|[3.0,25.0,7.22499...|[0.72575285905013...|[0.81023005730362...|       0.0|
|     0.0|   3.0|26.0|  7.8875|   0.0|    0.0|[3.0,26.0,7.88749...|[0.84007141375697...|[0.84292344290529...|       0.0|
|     0.0|   3.0|26.0|  7.8958|   0.0|    0.0|[3.0,26.0,7.89580...|[0.84007141375697...|[0.84292344290529...|       0.0|
|     0.0|   3.0|26.0|    8.05|   0.0|    0.0|[3.0,26.0,8.05000...|[0.81920326620640...|[0.83731799738465...|       0.0|
|     0.0|   3.0|26.0| 14.4542|   0.0|    1.0|[3.0,26.0,14.4541...|[0.23859775064365...|[0.61708541491160...|       0.0|
|     0.0|   3.0|26.0|  20.575|   0.0|    0.0|[3.0,26.0,20.5750...|[0.90226680564108...|[0.85869991303897...|       0.0|
|     0.0|   3.0|28.0|   7.925|   0.0|    0.0|[3.0,28.0,7.92500...|[0.78980039489402...|[0.82914797264619...|       0.0|
|     0.0|   3.0|28.0|     9.5|   0.0|    0.0|[3.0,28.0,9.5,0.0...|[0.86398566394184...|[0.84915274687641...|       0.0|
|     0.0|   3.0|28.0|    14.4|   1.0|    0.0|[3.0,28.0,14.3999...|[-0.2330766409365...|[0.38552711336543...|       1.0|
|     0.0|   3.0|29.0|   7.775|   0.0|    0.0|[3.0,29.0,7.77500...|[0.84007141375697...|[0.84292344290529...|       0.0|
|     0.0|   3.0|29.0| 10.4625|   1.0|    0.0|[3.0,29.0,10.4624...|[-0.5356592081501...|[0.25515243871265...|       1.0|
|     0.0|   3.0|30.0|    7.25|   0.0|    0.0|[3.0,30.0,7.25,0....|[0.84007141375697...|[0.84292344290529...|       0.0|
|     0.0|   3.0|30.0|    8.05|   0.0|    0.0|[3.0,30.0,8.05000...|[0.81920326620640...|[0.83731799738465...|       0.0|
|     0.0|   3.0|31.0|    18.0|   1.0|    0.0|[3.0,31.0,18.0,1....|[-0.2330766409365...|[0.38552711336543...|       1.0|
|     0.0|   3.0|32.0|  7.8958|   0.0|    0.0|[3.0,32.0,7.89580...|[0.30526128717469...|[0.64805999913662...|       0.0|
|     0.0|   3.0|32.0|    15.5|   1.0|    2.0|[3.0,32.0,15.5,1....|[-0.2330766409365...|[0.38552711336543...|       1.0|
|     0.0|   3.0|32.0|   15.85|   0.0|    0.0|[3.0,32.0,15.8500...|[0.32917553735956...|[0.65888988304591...|       0.0|
|     0.0|   3.0|33.0|  7.8958|   0.0|    0.0|[3.0,33.0,7.89580...|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   3.0|35.0|    8.05|   0.0|    0.0|[3.0,35.0,8.05000...|[0.85582171105269...|[0.84704932214925...|       0.0|
|     0.0|   3.0|36.0|  7.4958|   0.0|    0.0|[3.0,36.0,7.49580...|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   3.0|36.0|   15.55|   0.0|    0.0|[3.0,36.0,15.5500...|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   3.0|39.0|   7.925|   0.0|    0.0|[3.0,39.0,7.92500...|[0.82641883974032...|[0.83927420218903...|       0.0|
|     0.0|   3.0|39.0|  31.275|   1.0|    0.0|[3.0,39.0,31.2749...|[0.75001028570814...|[0.81757754432735...|       0.0|
|     0.0|   3.0|40.0|  7.8958|   0.0|    0.0|[3.0,40.0,7.89580...|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   3.0|40.5|    14.5|   0.0|    0.0|[3.0,40.5,14.5,0....|[0.90060410878813...|[0.85829594699485...|       0.0|
|     0.0|   3.0|42.0|    7.55|   0.0|    0.0|[3.0,42.0,7.55000...|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   3.0|44.0|    8.05|   0.0|    0.0|[3.0,44.0,8.05000...|[0.85582171105269...|[0.84704932214925...|       0.0|
|     0.0|   3.0|45.0|    27.9|   1.0|    0.0|[3.0,45.0,27.8999...|[0.75001028570814...|[0.81757754432735...|       0.0|
|     0.0|   3.0|47.0|    7.25|   0.0|    0.0|[3.0,47.0,7.25,0....|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   3.0|49.0|     0.0|   0.0|    0.0|(5,[0,1],[3.0,49.0])|[1.05526128717469...|[0.89192171834731...|       0.0|
|     0.0|   3.0|74.0|   7.775|   0.0|    0.0|[3.0,74.0,7.77500...|[1.05526128717469...|[0.89192171834731...|       0.0|
|     1.0|   1.0|23.0|   263.0|   1.0|    0.0|[1.0,23.0,263.0,1...|[-1.0730169403412...|[0.10470242400098...|       1.0|
|     1.0|   1.0|24.0| 49.5042|   1.0|    1.0|[1.0,24.0,49.5041...|[-1.1639260312503...|[0.08884238405169...|       1.0|
|     1.0|   1.0|27.0|    30.5|   0.0|    0.0|[1.0,27.0,30.5,0....|[0.07917553735956...|[0.53950525343208...|       0.0|
|     1.0|   1.0|30.0|    31.0|   1.0|    1.0|[1.0,30.0,31.0,1....|[-1.1562162311111...|[0.09009853060873...|       1.0|
|     1.0|   1.0|32.0|    30.5|   0.0|    1.0|[1.0,32.0,30.5,0....|[0.15494011351706...|[0.57685602564052...|       0.0|
|     1.0|   1.0|34.0|   26.55|   0.0|    0.0|[1.0,34.0,26.5499...|[0.07917553735956...|[0.53950525343208...|       0.0|
|     1.0|   1.0|36.0| 26.2875|   0.0|    0.0|[1.0,36.0,26.2875...|[0.07917553735956...|[0.53950525343208...|       0.0|
|     1.0|   1.0|36.0| 26.3875|   0.0|    0.0|[1.0,36.0,26.3875...|[0.07917553735956...|[0.53950525343208...|       0.0|
|     1.0|   1.0|39.0| 83.1583|   1.0|    1.0|[1.0,39.0,83.1583...|[-1.1562162311111...|[0.09009853060873...|       1.0|
|     1.0|   1.0|40.0|153.4625|   1.0|    0.0|[1.0,40.0,153.462...|[-1.0653071402020...|[0.10615669007266...|       1.0|
|     1.0|   1.0|41.0|   134.5|   1.0|    1.0|[1.0,41.0,134.5,1...|[-1.0653071402020...|[0.10615669007266...|       1.0|
+--------+------+----+--------+------+-------+--------------------+--------------------+--------------------+----------+
only showing top 100 rows

In [24]:
# Evaluamos el modelo:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
evaluator = MulticlassClassificationEvaluator(labelCol="Survived",
 predictionCol="prediction",
 metricName="accuracy")

In [25]:
accuracy = evaluator.evaluate(predictions)
print("Test Accuracy: ", accuracy*100)

Test Accuracy:  77.77777777777779

**Algortimo de Gradient-boosted tree Classifier**

In [26]:
from pyspark.ml.classification import GBTClassifier
gbt = GBTClassifier(labelCol="Survived",
 featuresCol="feature",
 maxIter=5)

In [27]:
model = gbt.fit(training_data)

In [28]:

predictions = model.transform(test_data)

In [30]:

accuracy = evaluator.evaluate(predictions)
print("Test Accuracy: ", accuracy*100)

Test Accuracy:  75.55555555555556