In [1]:
import pandas as pd

"""
    Escriba una función es_bisiesto() que determine si un año determinado es un año
    bisiesto. Un año bisiesto es divisible por 4, pero no por 100.
    También es divisible por 400.
"""

In [2]:
def es_bisiesto(anio):
    if( anio %4==0 and anio %100!=0) or anio %400==0:
        return True
    return False

In [3]:
es_bisiesto(400)

True

In [4]:
es_bisiesto(100)

False

"""
    Haz un programa que pida al usuario una cantidad de dolares, una tasa de interés y un numero de años.
    Muestra por pantalla en cuanto se habrá convertido el capital inicial transcurridos
    esos años si cada año se aplica la tasa de interés introducida.
    Recordar que un capital C dolares a un interés del x por cien durante n años
    se convierte en C * (1 + x/100)elevado a n (años). Probar el programa
    sabiendo que una cantidad de 10000 dolares al 4.5% de interés anual se convierte en 24117.14 dolares al cabo de 20 años.
"""

In [5]:
def comprobar_error_teclado( texto,type):
    while True:
        try:
            valor=type(input(texto))
            return valor
        except Exception as e:
            print("Error: %s" % str(e))

In [6]:
def hipoteca(dolares,interes,anio):

    total=dolares*(1+interes/100)**anio
    
    return total

In [8]:
dolares=comprobar_error_teclado("Introduzca cantidad de dolares ",int)
interes=comprobar_error_teclado("Introduzca tasa de interés ",float)
anio=comprobar_error_teclado("Número de años ",int)
print("Capital Total ",round(hipoteca(dolares,interes,anio),2))

Introduzca cantidad de dolares 2
Introduzca tasa de interés 2
Número de años 2
Capital Total  2.08

 Este programa muestra primero el listado de categorías de películas
    y pide al usuario que introduzca el código de la categoría de la película
    y posterior a ello pide que el usuario introduzca el número de días de atraso,
    y así se muestra al final el total a pagar.


CATEGORIA     PRECIO  CODIGO  RECARGO/DIA DE ATRASO

FAVORITOS      2.50      1          0.50

NUEVOS         3.00      2          0.75

ESTRENOS       3.50      3          1.00

SUPER ESTRENOS 4.00      4          1.50

In [9]:
categoria=["FAVORITOS","NUEVOS","ESTRENOS","SUPER ESTRENOS"]
precio=[2.50,3.00,3.50,4.00]
codigo=[1,2,3,4]
recargo=[0.50,0.75,1.00,1.50]

In [10]:
df = pd.DataFrame({"categorias": categoria, "precios": precio,"codigos": codigo,"recargos": recargo})
print(df)

       categorias  precios  codigos  recargos
0       FAVORITOS      2.5        1      0.50
1          NUEVOS      3.0        2      0.75
2        ESTRENOS      3.5        3      1.00
3  SUPER ESTRENOS      4.0        4      1.50

In [30]:
def calculoPagar(df,codCategoria,dia):

    while True:
            print (df)
            print(codCategoria)
            print(df[df.codigos==codCategoria])
            
            df_selecionada=df[df["codigos"]==codCategoria]


            if(len(df_selecionada)>0):
                precio=float(df_selecionada.precios)
                recargo=float(df_selecionada.recargos)
               

                return float(precio+(recargo*dia))
                break
            else :
                print("No existe ningun el codigo ")
                codCategoria=int(input(" Introduczca Codigo de categoria "))

In [31]:
codCategoria=int(input("Codigo de categoria "))
dias=comprobar_error_teclado("Número de dias ",int)
print(" Total a pagar....",calculoPagar(df,codCategoria,dias))

Codigo de categoria 23
Número de dias 2
       categorias  precios  codigos  recargos
0       FAVORITOS      2.5        1      0.50
1          NUEVOS      3.0        2      0.75
2        ESTRENOS      3.5        3      1.00
3  SUPER ESTRENOS      4.0        4      1.50
23
Empty DataFrame
Columns: [categorias, precios, codigos, recargos]
Index: []
No existe ningun el codigo
 Introduczca Codigo de categoria 2
       categorias  precios  codigos  recargos
0       FAVORITOS      2.5        1      0.50
1          NUEVOS      3.0        2      0.75
2        ESTRENOS      3.5        3      1.00
3  SUPER ESTRENOS      4.0        4      1.50
2
  categorias  precios  codigos  recargos
1     NUEVOS      3.0        2      0.75
3.0 0.75
 Total a pagar.... 4.5