Contenido creado por: 

*Isabel Maniega*

****

# Ejercicio 1

Dado el siguiente array de Numpy:

array = np.array([10,20,30])

Se pide:

a) Transformar el array en una lista (lista de nombre "L")

b) Una vez creada esa lista L, modificar la lista en su posición 1, por 200

c) Tras responder a) y b) trata de añadir el valor 40 al final de la lista

In [1]:
import numpy as np
array = np.array([10,20,30])
array

array([10, 20, 30])

In [2]:
type(array)

numpy.ndarray

In [3]:
# a
L = array.tolist()
L

[10, 20, 30]

In [4]:
type(L)

list

In [5]:
# b 
L[1] = 200
L

[10, 200, 30]

In [6]:
L.append(40)
L

[10, 200, 30, 40]

****

# Ejercicio 2

Queremos recorrer esta lista: L = [100,200,300,400]

Teniendo en cuenta que queremos obtener aquellos valores < 150

(y almacenarlos en una lista)

Hazlo, si sabes de varias formas posibles.

Si solo conoces una es suficiente

In [7]:
L = [100,200,300,400]
L

[100, 200, 300, 400]

In [8]:
for numero in L:
    if numero<150:
        print(numero)

100

In [9]:
# solución 1
[numero for numero in L if numero<150]

[100]

In [10]:
# solución pero asignando esos valores a una variable llamada "menor_150"
menor_150 = [numero for numero in L if numero<150]
menor_150

[100]

In [11]:
menor_150

[100]

In [12]:
# intentamos hacer una nueva solución, pero como vemos solo lo imprime,

# y queremos un listado nuevo que almacene esa información

In [13]:
for numero in L:
    if numero<150:
        print(numero)

100

In [14]:
# solución 2

listado_nuevo = []

for numero in L:
    if numero<150:
        listado_nuevo.append(numero)
        
listado_nuevo

[100]

****

# Ejercicio 3

Crea un diccionario que tenga la nota de 3 asignaturas y 

haz un pequeño algoritmo que calcule la nota media

In [2]:
# CURSO         -> Nota
# ---------------------
# Matemáticas   ->  10
# Historia      ->  8
# Inglés        ->  6

In [1]:
asignaturas = {"Matemáticas": 10, "Historia": 8, "Inglés": 6}

In [2]:
values = list(asignaturas.values())
values

[10, 8, 6]

In [3]:
media = sum(values) / len(values)
media

8.0

**1)** Muestra el valor de las claves

In [3]:
asignaturas.keys()

dict_keys(['Matemáticas', 'Historia', 'Inglés'])

**2)** Muestra el valor de los valores del diccionario

In [4]:
asignaturas.values()

dict_values([10, 8, 6])

**3)** Apendiza en el diccionario un nuevo elemento: 
    
Lengua  --> 9

In [5]:
asignaturas["Lengua"] = 10

**4)** Haciendo uso un bucle muestra la clave y el valor del diccionario, cuyo resultado final sean listas anidadas.

[["clave1", valor1], ["clave2", valor2]]

In [7]:
asignaturas.items()

dict_items([('Matemáticas', 10), ('Historia', 8), ('Inglés', 6), ('Lengua', 10)])

In [12]:
list_main = []
for key, value in asignaturas.items():
    list_item = []
    list_item.append(key)
    list_item.append(value)
    print(list_item)
    list_main.append(list_item)
print(list_main)

['Matemáticas', 10]
['Historia', 8]
['Inglés', 6]
['Lengua', 10]
[['Matemáticas', 10], ['Historia', 8], ['Inglés', 6], ['Lengua', 10]]

**5)** Reconvierte el diccionario para transformarlo en un dataframe y busca la asignatura con la nota más alta

In [14]:
import pandas as pd

In [17]:
curso = list(asignaturas.keys())
notas = list(asignaturas.values())

In [18]:
diccionario = {"Asignatura": curso, "Notas": notas}

In [19]:
df = pd.DataFrame(diccionario)
df

    Asignatura  Notas
0  Matemáticas     10
1     Historia      8
2       Inglés      6
3       Lengua     10

In [20]:
mayor = max(df.Notas)
mayor

10

**6)** ¿y la nota más baja?

In [21]:
menor = min(df.Notas)
menor

6

**7)** Ordena el dataframe en orden descendente:

In [22]:
df.sort_values(by='Notas', ascending=False)

    Asignatura  Notas
0  Matemáticas     10
3       Lengua     10
1     Historia      8
2       Inglés      6

****

# Ejercicio 4

Dado este listado de números:

-8, 350, 0, 799, 200, -30, 650, 0, 1650, 900

Haz un pequeño algoritmo que haga lo siguiente:
* Si el número es negativo debe imprimir lo siguiente **el valor es negativo**
* Si es 0 debe imprimir un mensaje que indique: **0**
* Si se encuentra entre 0 (no incluido) y 400 (si incluido), imprime **0,400**
* Si se encuentra entre 600 (no incluido) y 800 (no incluido), debe imprimir **(600, 800)**
* Si es 200 debe **continuar** sin hacer nada
* Si se encuentra entre 800 (no incluido) y 1000 (no incluido) debe **saltar automaticamente y dejar de testear** (parar)
* Para el resto de números, debe decir: **valor demasiado grande, desde 1000, en adelante**

In [2]:
valores = [-8, 350, 0, 799, 200, -30, 650, 0, 1650, 900]
valores

[-8, 350, 0, 799, 200, -30, 650, 0, 1650, 900]

In [5]:
for valor in valores:
    if valor < 0:
        print("es valor negativo")
    elif valor == 0:
        print("0")
    elif valor == 200:
        continue
    elif 0 < valor <= 400:
        print("(0,400]")
    elif 600 < valor < 800: 
        print("(600,800)")    
    elif 800 < valor < 1000:
        break
    else:  # valor>=1000
        print("valor demasiado grande, desde 1000 en adelante")

es valor negativo
(0,400]
0
(600,800)
es valor negativo
(600,800)
0
valor demasiado grande, desde 1000 en adelante

****

# Ejercicio 5

**1)** Crea una lista de nombre "Concursante" que contenga los siguientes valores:

"Teodoro", "Cristina", "Antonio", "Marina", "Laura", "Felix", "Jose", "Estefania"

In [35]:
concursante = ["Teodoro", "Cristina", "Antonio", "Marina", "Laura", "Felix", "Jose", "Estefania"]
concursante

['Teodoro',
 'Cristina',
 'Antonio',
 'Marina',
 'Laura',
 'Felix',
 'Jose',
 'Estefania']

**2)** Crea una lista de nombre "Resultados" que contenga los siguientes valores:

40, 20, 50, 3, 50, 5, 60, 40

In [36]:
resultados = [40, 20, 50, 3, 50, 5, 60, 40]
resultados

[40, 20, 50, 3, 50, 5, 60, 40]

**3)** Con ayuda de las listas anteriores crea un diccionario con los concursantes y los resultados.

In [37]:
data = {"Concursantes": concursante, "Resultados": resultados}
data

{'Concursantes': ['Teodoro',
  'Cristina',
  'Antonio',
  'Marina',
  'Laura',
  'Felix',
  'Jose',
  'Estefania'],
 'Resultados': [40, 20, 50, 3, 50, 5, 60, 40]}

**4)** Crea un dataframe vacio y apendiza los concursantes y los resultados mediante el empleo de un bucle for

In [38]:
df = pd.DataFrame(columns=["Concursantes", "Resultados"])
for key, value in data.items():
    df[key] = value
df

  Concursantes  Resultados
0      Teodoro          40
1     Cristina          20
2      Antonio          50
3       Marina           3
4        Laura          50
5        Felix           5
6         Jose          60
7    Estefania          40

**5)** Con ayuda de loc filtra los resultados obtenidos desde Antonio hasta Jose.

In [40]:
df.loc[2:6, :]

  Concursantes  Resultados
2      Antonio          50
3       Marina           3
4        Laura          50
5        Felix           5
6         Jose          60

**6)** Con ayuda de loc filtra los resultados obtenidos mayores o iguales a 40

In [41]:
df.loc[df["Resultados"] >= 40]

  Concursantes  Resultados
0      Teodoro          40
2      Antonio          50
4        Laura          50
6         Jose          60
7    Estefania          40

**7)** Muestra el concursante con la mayor puntuación

In [42]:
df["Resultados"].max()

60

**8)** Muestra el concursante con la menor puntuación

In [43]:
df["Resultados"].min()

3

**9)** Modifica con la ayuda de loc los valores 50 por 0

In [44]:
df.loc[df["Resultados"] == 50, "Resultados"] = 0
df

  Concursantes  Resultados
0      Teodoro          40
1     Cristina          20
2      Antonio           0
3       Marina           3
4        Laura           0
5        Felix           5
6         Jose          60
7    Estefania          40

**10)** Modifica Concursante "Marina" su puntuación por "50" con ayuda de .loc

In [45]:
df.loc[df["Concursantes"] == "Marina", "Resultados"] = 50
df

  Concursantes  Resultados
0      Teodoro          40
1     Cristina          20
2      Antonio           0
3       Marina          50
4        Laura           0
5        Felix           5
6         Jose          60
7    Estefania          40

Gracias por la atención

*Isabel Maniega*